body{
  margin: 0;
  padding: 0;
  background: url(bg.gif) no-repeat center center fixed;
  background-size: cover;
  height: 100%;
  overflow: hidden;
  /* height: 100%; */
  /* width: 100%; */
  /* background-color: black; */
}
.box{
  width: 450px;
  background: rgba(0, 0, 0, 0.5);
  padding: 40px;
  text-align: center;
  margin: auto;
  margin-top: 5%;
  color: white;
  font-family: 'Pres Start 2P', courier, sans-serif;
}

.box-img{
  border-radius: 50%;
  height: 200px;
  width: 200px;
}
 .box h1{
   font-size: 30px;
   letter-spacing: 2px;
   font-weight: 100;
 }

.box p{
  text-align: justify;
}
ul {
  margin: 0;
  padding: 0;
}

.box li{
  display: inline-block;
  margin: 6px;
  list-style: none;
}

.box li a{
  color: white;
  text-decoration: none;
  font-size: 30px;
}
@media only screen and (max-width:620px) {
  /* For mobile phones: */

  .box {
    width:225px;
    margin-top: 20%;
  }

  .box-img{
    border-radius: 50%;
    height: 100px;
    width: 100px;
  }

  .box h1{
    font-size: 20px;
    letter-spacing: 1px;
    font-weight: 80;
  }

  .box p{
    font-size: 12px;
  }
}
